{{#chapter}}
<footer>
  <ol>
    {{#previous_chapter}}
      <li class="previous"><a href="{{relative_url}}">&larr; Previous</a></li>
    {{/previous_chapter}}
    {{#next_chapter}}
      <li class="next"><a href="{{relative_url}}">Next &rarr;</a></li>
    {{/next_chapter}}
  </ol>
  <div class="clearfix"></div>
  <p>
    Copyright &copy; 2014 by David Copeland, All Rights Reserved
  </p>
</footer>
{{/chapter}}
</body>
</html>
