{{> header.html}}
{{#config}}
<h2 class="subtitle">{{subtitle}}</h2>
{{/config}}
<ol>
  {{#front_matter}}
    <li><a href="{{relative_url}}">{{{title}}}</a></li>
  {{/front_matter}}
  {{#main_matter}}
    <li><a href="{{relative_url}}">{{{title}}}</a></li>
  {{/main_matter}}
  {{#back_matter}}
    <li><a href="{{relative_url}}">{{{title}}}</a></li>
  {{/back_matter}}
</ol>
{{> footer.html}}
