{{> header.html}}
{{#config}}
<h1>{{title}}</h1>
{{/config}}
<ol>
  <li>Front Matter
    <ol>
      {{#front_matter}}
      <li><a href="{{href}}">{{{title}}}</a></li>
      {{/front_matter}}
    </ol>
  </li>
  <li>Main Matter
    <ol>
      {{#main_matter}}
      <li><a href="{{href}}">{{{title}}}</a></li>
      {{/main_matter}}
    </ol>
  </li>
  <li>Back Matter
    <ol>
      {{#back_matter}}
      <li><a href="{{href}}">{{{title}}}</a></li>
      {{/back_matter}}
    </ol>
  </li>
</ol>
{{> footer.html}}
